*{
	margin: 0;padding: 0;text-decoration: none;list-style: none;
}
header{
	height: 46px;
	width: 100%;
	background: #252525;
	position: relative;
}
header img{
	position: absolute;top:0;bottom: 0;margin: auto;
	margin-left: 53px;
	float: left;
}
header .ul1{
	float: left;
	display: flex;
	justify-content: space-around;
	line-height: 46px;
	width: 351px;
	margin-left: 154px;
	font-size: 14px;
}
header .ul1 li:hover a{
	color:#ffdd00;
}
header .ul1 a{
	color: white;
	font-size: 14px;
}
header .ul2{
	float: right;
	margin-right: 49px;
	width:509px;
	line-height: 46px;
	display: flex;
	justify-content: space-around;
	font-size: 12px;
	color: white;
}

header .ul2 a{
	color: white;
}
header .ul2 .li2>a{
	display: block;
	width: 56px;
	background: url(../imgaes/header_fg.png) no-repeat 55px center;
}
header .ul2 li:hover a{
	color: #FFDD00;
}
header .ul2 .li3>a{
	color: #7d7d7d;
}
header .ul2 .li4{
	color: #f1000c;
	font-weight: 600;
}
